export NETWORK=testnet
# DEVNET
export PRIVATE_KEY=APrivateKey1zkp8CZNn3yeCseEtxuVPbDCwSyhGW6yZKUYKfgXmcpoGPWH
export VIEW_KEY=AViewKey1mSnpFFC8Mj4fXbK5YiWgZ3mjiV8CxA79bYNa8ymUpTrw
export ADDRESS=aleo1rhgdu77hgyqd3xjj8ucu3jj9r2krwz6mnzyd80gncr5fxcwlh5rsvzp9px
export ENDPOINT=http://localhost:3030
export TOKEN_ID=12345field
export RECIPIENT=aleo16l3mweqm5nezck94knqd9ezug5nk45p5lfg4rrvl8m5y6z7x8szskt23uq

# LOCAL WALLET
# export PRIVATE_KEY=APrivateKey1zkpDgRS84qYtDbSFAtTBNQnGH3px97MuphpEFYvAeEHBjji
# export VIEW_KEY=AViewKey1nBHsAH7pXu2qVPbYCkAe6aiMCzPENpCJviftGf76XTtD
# export ADDRESS=aleo13afpykxk2mkvt9wadcwkxsyh9lk635fd3kzlzcw6yd8nrmfpecps5pw5kx
# export ENDPOINT=https://api.explorer.provable.com/v1
# export TOKEN_ID=4242field
# export RECIPIENT=aleo16l3mweqm5nezck94knqd9ezug5nk45p5lfg4rrvl8m5y6z7x8szskt23uq
